.icon {
  display: block;
  height: 24px;
  width: 24px;

  @media (min-width: 576px) {
    height: 32px;
    width: 32px;
    background-size: cover;
  }
  &--phone {
    background-image: url(/src/images/icon/Icon-Phone-call.png);
  }
  &--menu {
    background-image: url(/src/images/icon/Icon-Burger-menu.png);
  }
  &--close {
    background-image: url(/src/images/icon/Icon-Close.png);
  }
}
